@font-face {
    font-family: "GothamBook";
    src: url('/fonts/GothamBook/GothamBook.woff') format('woff'); 
}
@font-face {
    font-family: "gothambold1";
    src: url('/fonts/gothambold/gothambold1.woff') format('woff'); 
}
@mixin GothamBook{
    font-family: "GothamBook", serif;
}
@mixin gothambold{
    font-family: 'gothambold1';
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.align-items-center{
    display: flex;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 
//  HEADER block
// 

.h100{
    height: 100%;
}
.w100{
    width: 100%;
}
.container-xl{
    max-width: 1170px;
}
.header{
    position: relative;
    padding: 0;
    overflow: hidden;
}
.h-slider{
padding: 0;

    &__bg{
       height: 800px;
       width: 100%;
       object-fit: cover;
    }
    &__text-block{
      margin-right: 80px;
      margin-left: 80px;
        margin-top: 335px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        top: 0px;
        right: 0px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        @media screen and (max-width:768px){
            margin-right: 10px;
      margin-left: 10px;
        }
    }
    &__item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__primary{

        letter-spacing: 3px;
        font-size: 80px;
        @include gothambold;
        padding: 0;
        margin: 0;
        @media screen and (max-width:768px){
            font-size: 40px;
        }
        @media screen and (max-width:576px){
            font-size: 30px;
        }
       
    }
    &__secondary{  
        letter-spacing: 5px;
        font-size: 18px;
        @include GothamBook;
        margin: 0;
        padding: 0;
        @media screen and (max-width:768px){
            font-size: 13px;
        }
        @media screen and (max-width:576px){
            font-size: 17px;
        }
       
    }
}
#dots{
    z-index: 100;
    position: absolute;
    right: 50px;
    top: 555px;
}
#dots-mobile{
    z-index: 100;
    position: absolute;
    bottom: 150px;
    width: 80%;
    left: 20%;
    @media screen and (max-width:568px){
        left: 25%;
        width: 75%;
    }
    @media screen and (max-width:460px){
        left: 30%;
        width: 70%;
    }
    @media screen and (max-width:400px){
        left: 40%;
        width: 60%;
    }
 
}
.my-dots li.slick-active button:before {
    content: url(./img/circle-active.svg);
  }
  .my-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0px;
    list-style: none;
    text-align: center;
    & li {
        right: 50px;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0px;
        padding: 0;
        cursor: pointer;
        &  button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 45px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            &:before {
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: url('./img/circle.svg');
                text-align: center;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
          }
      }
      
  }
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  
.header__burger{  
    margin-top: 10px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    float: right;
    &-img{
        transition: ease .2s all;
        max-width: 100%;
        &:active{
            transform: scale(0.8,0.8);
        }
    }
    @media screen and (min-width:769px){
        display: none;
}
}
.h-menu{
    margin-top: 50px;
    max-width: 1170px;
    width: 100%;
    z-index: 100;
    &__text{
        
        overflow: hidden;
        transition: cubic-bezier(0.1, 0, 0.0035, 1.00) 1s all;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: white;
        @include GothamBook;
        font-size: 14px;
        @media screen and (max-width:992px){
            @include gothambold;
        }
        @media screen and (max-width:768px){
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: nowrap;
            top: 0;
            bottom: 0;
            left: 15px;
            right: 0;
            position: fixed;
            width: 100vw;
            background-color: rgba(126, 187, 245, 0.918);
            z-index: 228;
            @include gothambold;
            font-size: 0px;
            opacity: 0;
            transform-origin: top right;
            transform:translateX(100%) scaleY(0) skew(20deg);
        }   
        &--active{   
            transform-origin: top left;
            font-size: 25px;
            transform: translateX(0) scaleX(1) rotate(0deg) skew(0deg);
            opacity: 1;   
        }
       
    }
    &__item{
        @media screen and (max-width:768px){  
            display: flex;
            align-items: center; 
            width: auto;
            height: 50px;
            z-index: 111111;
        }
    }
    &__social{   
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        & img:hover{
            cursor: pointer;
            filter: brightness(29%)
        }
        & img{
            transition: linear .5s all;
            @media screen and (max-width:768px){   
               width: 64px;
               height: 64px;
            }
        }
    }
    &__logo{
        text-align: center;
    }
    &__item:hover{
        transform: scale(1.1,1.1);
        filter: brightness(25%);
        @include gothambold;
        transition: linear .5s all;
        cursor: pointer;
    }


}
.h-wrapper{
    display: flex;
    justify-content: center;
    height: 0px;
    width: 100%;
}
.h-drop{
z-index: 99;
position: absolute;
bottom: 12%;
left: 49vw;
&:hover{
    cursor: pointer;
    filter: brightness(25%);
}
@media screen and (max-width:992px){   
    width: 64px;
    height: 64px;
 }
}
// 
// // // // WHAT WE DO blocks
// 
.info-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom:85px;
    &__line{
        margin-bottom: 30px;
        height: 1px;
        width: 100px;
        background-color: black;
        &--white{
            background-color: #fff;
        }
    }
}
.title{
    color: #2c4058;
    line-height: 100%;
    font-size: 44px;
    @include gothambold;
    &--white{
        color: white;
    }
}
.title-secondary{
    color: #2c4058;
    margin: 0;
    font-size: 23px;
    @include GothamBook;
}
.text{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.685);
        &--location{
            padding-top: 50px;
         font-style: italic;
         color: #2c4058;
     }
}
.button{
    width: 190px;
    height: 50px;
    background-color: transparent;
    border: #2c4058 1px solid;
    color: #2c4058;
}
.info{
    padding-top: 70px;
    margin-bottom: 140px;
    background-image: url(./img/back1.png);
    background-position: left top;
    background-repeat: no-repeat;
    &--second{
        background-image: url(./img/back2.png); 
        background-position: right top;
    }
    &-text{
        display: flex;
        flex-direction: column;
        padding-top: 55px;
    }
}
.info-img{
height: 470px;
    &__img{
        object-fit: contain;
        max-width: 100%;
    }
}
// 
// NEWS block
// 
.news{
    overflow: hidden;
    background-image: url(./img/bg-news.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 170px;
}
.block-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 85px;
}
.n-slider{
    margin: 0;
    padding: 0;
margin: auto;
width: 72%;
max-width: 1920px;
@media screen and (max-width:1300px){
    max-width: 92%;
}
@media screen and (max-width:1000px){
    max-width: 82%;
}
@media screen and (max-width:768px){
    max-width: 75%;
}
@media screen and (max-width:568px){
    max-width: 85%;
}
@media screen and (max-width:450px){
    width: 99%;
}
    &__item{ 
       margin-left: 15px;
       margin-right: 15px;
        background-color: #fff;
        display: flex;
        flex-direction: column; 
        max-height: 515px;
        height: 515px;
        padding-bottom: 25px;  
        @media screen and (max-width:1290px){
            max-height: 700px;
            height: 620px;
        }
        @media screen and (max-width:1000px){
            max-height: 585px;
            height: 585px;
        }            
    }
    &__img{
        margin: auto;
        height: 240px;
        width: 100%;
    }
    &__title{
        text-transform: uppercase;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: #2c4058;
        font-size: 22px;
        @include gothambold; 
    }
    &__text{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: rgba(0, 0, 0, 0.685);
    }
    &__name{
        color: #2c4058;
        font-size: 18px;
        @include GothamBook;
        margin: 0;
        text-transform: uppercase;
    }
    &__date{
        font-size: 14px;
        color: #55b7ff;
        @include GothamBook;
        margin: 0;
    }
    &__footer{
        padding-left: 15px;
        width: 100%;
        justify-content: start;
        align-items: center;
        display: inline-flex;
        height: 60px;
    }
    &__avatar{
        height: 100%;
    }
    &__user-block{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.rightArr{
    position: absolute;
    right: -80px;
    top: 45%;
    &:active{
        transform: scale(0.8,0.8);
    }
    &:hover{
        cursor: pointer;
        filter: brightness(30%);
    }
}
.leftArr{
    position: absolute;
    left: -80px;
    top: 45%;
    &:active{
        transform: scale(0.8,0.8);
    }
    &:hover{
        cursor: pointer;
        filter: brightness(30%);
    }
}
.news-dots{
    & li.slick-active button:before {
        content: url(./img/circle-active.svg);
      }
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0px;
    list-style: none;
    text-align: center;
    & li {
        bottom: -120px;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 15px;
        padding: 0;
        cursor: pointer;
        &  button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 45px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            &:before {
                font-family: 'slick';
                font-size: 6px;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: url('./img/circle.svg');
                text-align: center;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }
          }
      }
      
  }

//   
// GALLERY BLOCK
// 
 .gallery{
     padding-bottom: 140px;
     padding-top: 140px;
     &__button-block{
         width: 100%;
         display: flex;
         justify-content: center;
     }
 }
.gallery__item{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
}
 .gallery-block{
     margin-bottom: 60px;
     &__img{
         object-fit: cover;
         max-width: 100%;

     }
 }
